.html {
  font-size: 16px;
}
#boxModel .content1 p,
.row1 {
  border: 2px solid rebeccapurple;
  padding: 0.5em;
}
.block {
  border: 2px solid blue;
  padding: 0.5em;
}
.content1 li {
  border: 2px solid blue;
  padding: 0.5em;
}

.row1 {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

#content2 ul {
  display: inline;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}
